.footer-wrapper {
    background: #f7f7f7;
    z-index: 2;
    padding-top: 15px;
    padding-bottom: 15px;

    i {
        font-size: 30px;
        padding-right: 15px;
        cursor: pointer;
    }

    span {
        float: right;
    }
}